header{
    background-color: #2869be;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 5vh;
    width: auto;
}

h1{
    font-size: 1.5rem;
}

nav{
    display: flex;
    flex-direction: row;
}

.nav-wrapper li{
    list-style: none;
    display: inline-block;
}

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-container{
    display:flex;
    position: relative;
}

.cover-background{
    display:block;
    width: 100%;
    height: auto;
}

.cover-container-content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translateY(-50%);
}

.cover-title{
    color:#ffffff;
}

.cover-btn{
    margin-top: 2.5vh;
}

.content{
    margin: 2vh 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-carousel{
    margin: 0 0 3vh 0;
}

.content-carousel-title{
    margin: 0 0 2vh 0;
}

.carousel-container{
    width: 90%;
}

.carousel-imgs{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
    position:relative;
    overflow-x: hidden;
}

.carousel-img{
    width: 100%;
    border-radius: 3px;
}

.carousel-arrows{
    cursor: pointer;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 2vh 0;
}

.carousel-arrow{
    margin: 0 30%;
    font-size: larger;
}

.content-location{
    width: 100%;
    background-color:blanchedalmond;
}

.location-title{
    margin: 1vh 1vw;
}

.museum-image{
    width: 100%;
}

.museum-maps{
    width: 10%;
    margin: 1.5vh 3vw;
}