header{
    background-color: #36558F;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    
}

.logo{
    height: 5vh;
    width: auto;
}

h1{
    font-size: 1.5rem;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-wrapper{
    display:flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    z-index: 999;
    transition: all .5s ease-in-out;
}

.nav-wrapper a{
    color:#36558F;
    transition: all .5s ease-in-out;
    text-decoration: none;
}

.nav-wrapper li{
    list-style: none;
    display: inline-block;
    z-index: 999;
    transition: all 1s ease-in-out;
    padding: 1vh 0;
    background-color: #36558F;
}


/*Animacion del Nav*/
.nav-wrapper.open{
    transform: translateY(5.5vh);
    overflow: visible;
}

.nav-wrapper.open a{
    color:#fff;
}

.nav-wrapper.open li{
    background-color: #000000;
}
.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor:pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burguer{
    width: 2rem;
    height: 6px;
    background: #fff;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

.menu-btn__burguer::before,
.menu-btn__burguer::after{
    content: "";
    position: absolute;
    width: 2rem;
    height: 6px;
    background: #fff;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

.menu-btn__burguer::before{
    transform: translateY(-200%);
}

.menu-btn__burguer::after{
    transform: translateY(200%);
}


/*Animacion de la hamburguesa*/

.menu-btn.open .menu-btn__burguer{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burguer::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burguer::after{
    transform: rotate(-45deg) translate(35px, 35px);
}


.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-container{
    display:flex;
    position: relative;
}

.cover-background{
    display:block;
    width: 100%;
    height: auto;
}

.cover-container-content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translateY(-50%);
}

.cover-title{
    color:#ffffff;
}

.cover-btn{
    margin-top: 2.5vh;
}

.content{
    margin: 2vh 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-carousel{
    margin: 0 0 3vh 0;
}

.content-carousel-title{
    margin: 0 0 2vh 0;
}

.carousel-container{
    width: 90%;
}

.carousel-imgs{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
    position:relative;
    overflow-x: hidden;
}

.carousel-img{
    width: 100%;
    border-radius: 3px;
}

.carousel-arrows{
    cursor: pointer;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 2vh 0;
}

.carousel-arrow{
    margin: 0 30%;
    font-size: larger;
}

.content-activities, .content-location{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content-activities{
    width: 100%;
    background-color: #ffebcd;
    margin-bottom: 5vh;
}

.activities-image, .museum-image{
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.museum-about, .activities-about{
    display:flex;
    align-items: flex-start;
}

.activities-about{
    flex-direction: column;
    margin: 2vh 1vw;
}

.activities-about h3{
    margin-bottom: 3vh;
    border-bottom: 1px #000000 solid;
}

.content-location{
    width: 100%;
    background-color:#ffebcd;
}

.location-title, .activities-title{
    margin: 1vh 1vw;
    padding-top: 1vh;
}

.logo-maps{
    width: 15%;
}

.museum-maps{
    width: 100%;
    margin: 1.5vh 3vw;
}

.about{
    margin: 3% 0 0 8%;
    display:flex;
    flex-flow: column nowrap;
}

.--small{
    font-size: smaller;
    font-style: italic;
}

.footer{
    background-color: #000000;
    color:#ffffff;
}

.footer-social, .footer-end{
    margin: 3vh 5vw 0;
}

.social-links{
    margin: 0;
}

.social-title{
    padding-top: 2vh;
}

.social-links{
    display: flex;
    margin: 5% 0 0;
}

.social-links li{
    list-style: none;
}

.social-link{
    display: flex; 
    justify-content: center;
}


.social-logo{
    width: 20%;
}

.end-title{
    border-top: 1px solid #ffffff; 
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.end-content li{
   list-style: none;
   margin: 0.5vh 0; 
}

.end-content li p{
    font-size: 0.8rem;
    font-weight: 100;
    font-style: italic;
}

.footer-credits{
    border-top: 1px solid #ffffff; 
    padding-top: 1vh;
    width: 100%;
}